{% extends "base.html" %}

{% block content %}

<div class="blank-box">
    <a href="{% url 'pick_calendar:settings' %}">settings</a>
</div>

<!--Source Calendar(s) -->
<div id="source" class="choice-box">
    <!--<div class="prompt"> -->
        <!--<h2>Source Calendar(s):</h2>-->
    <!--</div>-->
    <h3>Source Calendar(s):</h3>
    <div class="source choice-content">
    {% if progress.source %}
        <ul>
            {% for source in progress.source %}
                <li>{{ source.summary }}</li>
            {% endfor %}
        </ul>
            <a class='button' href="{%url 'pick_calendar:calendars' 'source' %}">
                Reset source calendar(s)
            </a>
    {% else %}
            <a class='button' href="{%url 'pick_calendar:calendars' 'source' %}">
                select
            </a>
    {% endif %}
    </div>
</div>

<!--Destination Calendar-->
<div id="destination" class="choice-box">
    <h3>Destination Calendar</h3>
    <div class="destination choice-content">
    {% if progress.source %}
        {% if progress.destination %}
            <ul>
                {% for choice in progress.destination %}
                    <li>{{ choice.summary }}</li>
                {% endfor %}
            </ul>
                <a class='button' href="{%url 'pick_calendar:calendars' 'destination' %}">
                    Reset destination calendar
                </a>
        {% else %}
                <a class='button' href="{%url 'pick_calendar:calendars' 'destination' %}">
                    select
                </a>
        {% endif %}
    {% endif %}
    </div>
</div>


<!--Deduplify link/button-->

{% if progress.source and progress.destination %}
<div id="deduplify">
        <a class='button' href="{%url 'pick_calendar:deduplify' %}">
            Deduplify
        </a>
</div>

{% endif %}


<!--Log/results-->

<div id="log">
{% if progress.log %}

    <div id="log-header">
        <h2>Log/Results:</h2>
    </div>

    <ol>
    {% for group in progress.log %}
        
        <li>{{ group.tests }}
            <ul>
                <li>Keep
                    <ul>
                        <li>
                            <span class="event-summary">
                                {{ group.keep.summary }}
                            </span><br>
                            <span class="event-date">
                                {{ group.keep.start_pretty }} - 
                                {{ group.keep.end_pretty }} <br>
                            </span>
                            <span class="event-description">
                                {{ group.keep.description }} <br>
                            </span>
                            <span class="event-location">
                                location: {{ group.keep.location }} <br>
                            </span>
                            <span class="event-created">
                                created: {{ group.keep.created }} <br>
                            </span>
                            <span class="event-updated">
                                updated: {{ group.keep.updated }} <br>
                            </span>
                            <span class="event-calendar">
                                calendar: {{ group.keep.organizer.displayName }}<br>
                            </span>
                        </li>
                    </ul>
                </li>
                <li>Move
                    <ul>
                        {% for g in group.remove %}
                            <li>
                                {% if g.moved_result == False %}
                                    <span class="moved-result">
                                        MOVE FAILED (event could not be moved)<br>
                                    </span>
                                {% endif %}
                                <span class="event-summary">
                                    {{ g.event.summary }}
                                </span><br>
                                <span class="event-date">
                                    {{ g.event.start_pretty }} - 
                                    {{ g.event.end_pretty }} <br>
                                </span>
                                <span class="event-description">
                                    {{ g.event.description }} <br>
                                </span>
                                <span class="event-location">
                                    location: {{ g.event.location }} <br>
                                </span>
                                <span class="event-created">
                                    created: {{ g.event.created }} <br>
                                </span>
                                <span class="event-updated">
                                    updated: {{ g.event.updated }} <br>
                                </span>
                                <span class="event-calendar">
                                    calendar: {{ g.event.organizer.displayName }}<br>
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </li>
    {% endfor %}
    </ol>

{% endif %}
</div>


<div id="height">&nbsp;</div>

{% endblock %}

