{% extends "base.html" %}

{% block content %}

  <div class="panel panel-primary settings">
    <div class="panel-heading">
      <h3 class="panel-title">Settings</h3>
    </div>

    <div class="panel-body">

      <form action="{% url 'pick_calendar:settings_update' %}" method="post">
        {% csrf_token %}

        <h5 class="list-group-heading">Dry Run</h3>

        <div class="checkbox">
          <label>
            <input type="checkbox" 
                   id="dryrun" 
                   name='dryrun' 
                   value="True">
            Enabled
          </label>
        </div>

        <hr />

        <h5 class="list-group-heading">Select original event by:</h3>

        <div class="radio">
          <label>
            <input type="radio" 
                   name="select_original" 
                   id="created_earliest" 
                   value="created_earliest"
                   checked >
            Created (earliest)
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" 
                   name="select_original" 
                   id="updated_earliest" 
                   value="updated_earliest" >
            Updated (earliest)
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" 
                   name="select_original" 
                   id="min_chars" 
                   value="min_chars" >
            Minimum Characters
          </label>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'pick_calendar:settings_default' %}">
        <button type="button" 
                class="btn btn-default">Defaults</button>
        </a>
        <a href="{% url 'pick_calendar:index' %}">
        <button type="button" 
                class="btn btn-default pull-right">Cancel</button>
        </a>

      </form>
    </div> <!--panel-body-->
  </div> <!--panel-->

{% endblock content %}


{% block js %}{{ block.super }}
  {% load staticfiles %}
  <!--put context into global namespace so we can access in javascript-->
  <script type="text/javascript">
    var current_settings = {};
    current_settings.dryrun = {{ context|safe }}.dryrun;
    current_settings.created_earliest = {{ context|safe }}.created_earliest;
    current_settings.updated_earliest = {{ context|safe }}.updated_earliest;
    current_settings.min_chars = {{ context|safe }}.min_chars;
  </script>
  <!--restore current settings-->
  <script src="{% static 'settings.js' %}"></script> 
{% endblock js %}

