body {
  padding-top: 90px;
}

.spinner-div {
    max-width: 800px;
    min-height: 50px;
    margin: 0 auto;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
}

.footer {
    display: none;
}

@media (min-width: 840px) {
  .container #content {
    max-width: 810px;
    margin: 0 auto;
  }
}

