body {
    margin: 0;
}

#content {
    clear: both;
}

button a {
    text-decoration: none;
}

.button {
  /*font: bold 11px Arial;*/
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.navbar {
    background-color: #F5F5F5;
    border-bottom: 1px solid #D8D8D8;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

.navbar div {
    margin: 10px;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar li {
    list-style-type: none;
    float: left;
    margin: 0 10px;
}

#deduplify {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.choice-box, .blank-box {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blank-box {
    text-align: right;
}

.bbox {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}


.choice-box h3 {
    padding: 15px;
    margin: 0;
    border-style: solid solid none;
    border-width: 1px;
    border-color: #D8D8D8;
    border-radius: 4px 4px 0 0;
    background-color: #F5F5F5;
}

.choice-box .choice-content {
    padding: 15px;
    border: 1px solid #D8D8D8;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


.ind {
    margin-left: 25px;
}

.hide {
    display: none;
}

.setting_div {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #E4E4E4;
}

#height {
    height: 100%;
}

.choice-box::before {
    display: block;
    content: " ";
    margin-top: -5px;
    height: 5px;
    visibility: hidden;
}


@-moz-keyframes throbber-loader {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}
@-webkit-keyframes throbber-loader {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}
@keyframes throbber-loader {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}
/* :not(:required) hides these rules from IE9 and below */
.throbber-loader:not(:required) {
  -moz-animation: throbber-loader 2000ms 300ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 300ms infinite ease-out;
  animation: throbber-loader 2000ms 300ms infinite ease-out;
  background: #dde2e7;
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 0.9em;
  height: 1.5em;
  margin: 0 1.6em;
}
.throbber-loader:not(:required):before, .throbber-loader:not(:required):after {
  background: #dde2e7;
  content: '\x200B';
  display: inline-block;
  width: 0.9em;
  height: 1.5em;
  position: absolute;
  top: 0;
}
.throbber-loader:not(:required):before {
  -moz-animation: throbber-loader 2000ms 150ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 150ms infinite ease-out;
  animation: throbber-loader 2000ms 150ms infinite ease-out;
  left: -1.6em;
}
.throbber-loader:not(:required):after {
  -moz-animation: throbber-loader 2000ms 450ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 450ms infinite ease-out;
  animation: throbber-loader 2000ms 450ms infinite ease-out;
  right: -1.6em;
}

