body {
  padding-top: 90px;
}

.spinner-div {
    min-height: 101px;
    text-align: center;
    padding: 40px 0;
}

.footer {
    display: none;
}

@media (min-width: 840px) {
  .container #content {
    max-width: 810px;
    margin: 0 auto;
  }
}

