<div style="float:left;">
    <a href="{%url 'pick_calendar:index' %}">gcal_dedup</a>
</div>

<div style="float:right;">
    {% if user.username %}
        <div>
            {{ user.username }}
        </div>
        <div>
            <a href="{%url 'logout' %}">logout</a>
        </div>
    {% else %}
        <div>
            <a href="{%url 'auth' %}">login</a>
        </div>
    {% endif %}
</div>

<div style="clear:both;"></div>
<hr>

<div id="content">
    {% block content %}{% endblock %}
</div>


