{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<!--navbar-->
<div class="navbar">
    <div class="nav-left">
        <ul>
            <li>
                <a href="{%url 'pick_calendar:reset' %}">gcal_dedup</a>
            </li>
        </ul>
    </div>

    <div class="nav-right">
        <ul>
            {% if user.username %}
                <li>
                    {{ user.username }}
                </li>
                <li>
                    <a href="{%url 'auth:logout' %}">logout</a>
                </li>
            {% else %}
                <li>
                    <a href="{%url 'auth:login' %}">login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>


